@using HaSe.Pages.Controls
@model HaSe.Facade.Project.PartSpecificationRoleViewModel

@Html.EditItem(model => model.PartyName)
@Html.SelectItem(model => model.PartSpecificationId, "partspecification")

<dt class="col-sm-2"><label class="control-label" for="Type">Type</label></dt>

<div class="col-sm-10">
    <select asp-for="Type" class="form-control">
        <option value="">-- Select Type --</option>
        <option value="Designer">Designer</option>
        <option value="Tester">Tester</option>
        <option value="Approver">Approver</option>
    </select>
    <span asp-validation-for="Type" class="text-danger" />
</div>
