@model HaSe.Facade.Project.PartSpecificationStatusViewModel
@using HaSe.Pages.Controls
@using HaSe.Facade.Project


@Html.SelectItem(model => model.PartSpecificationId, "partspecification")
@Html.EditItem(model => model.FromDate)
@Html.EditItem(model => model.ThruDate)


<dt class="col-sm-2"><label class="control-label" for="Type">Type</label></dt>

<div class="col-sm-10">
    
    <select asp-for="Type" class="form-control">
        <option value="">-- Select Type --</option>
        <option value="Requirement specified">Requirement specified</option>
        <option value="Designed">Designed</option>
        <option value="Tested">Tested</option>
        <option value="Approved">Approved</option>
    </select>
    <span asp-validation-for="Type" class="text-danger" />
</div>


