@using HaSe.Pages.Controls
@model HaSe.Facade.Project.PartSpecificationStatusViewModel

@Html.SelectItem(model => model.PartSpecificationId, "partspecification")
@Html.EditItem(model => model.FromDate)
@Html.EditItem(model => model.ThruDate)

<div class="form-group">
    <label asp-for="Type" class="control-label"></label>
    <select asp-for="Type" class="form-control">
        <option value="">-- Select Type --</option>
        <option value="Requirement specified">Requirement specified</option>
        <option value="Designed">Designed</option>
        <option value="Tested">Tested</option>
        <option value="Approved">Approved</option>
    </select>
    <span asp-validation-for="Type" class="text-danger" />
</div>


