@using HaSe.Pages.Controls
@model HaSe.Facade.Project.PartViewModel

@Html.EditItem(model => model.Name)
@* @Html.EditItem(model => model.Credits) *@
@* @Html.EditItem(model => model.DepartmentId) *@

<div class="form-group">
    <label asp-for="DepartmentId" class="control-label"></label>
    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.Departments">
        <option value="">-- Select Department --</option>
    </select>
    <span asp-validation-for="DepartmentId" class="text-danger" />
</div>

